//Menu button
.menu-btn {
  @include easeOut;
  cursor: pointer;
  position: absolute;
  right: 35px;
  top: 35px;
  z-index: 3;
}

.btn-line {
  @include easeOut;
  background: #fff;
  height: 3px;
  margin: 0 0 5px 0;
  width: 28px;
}
